.card-img-container {
  
  height: 100px; /* ارتفاع موحد لكل الصور */
  overflow: hidden;
}

.fixed-img {
  width: 100%;        /* عرض كامل */
  height: 100%;       /* ارتفاع ثابت */
  object-fit: cover;  /* يملأ المساحة بدون تشويه */

}
