<div class="confirmation-container">
  <div class="confirmation-card">
    <h2>Reset Password</h2>

    <form (ngSubmit)="submit()" [formGroup]="form">
      <!-- New Password -->
      <div class="form-group mb-3 text-start position-relative">
        <label for="newPassword" class="form-label">New Password</label>
        <input [type]="showPassword ? 'text' : 'password'"
               id="newPassword"
               class="form-control"
               formControlName="newPassword"
               placeholder="Enter new password">
        <span class="toggle-eye" (click)="togglePasswordVisibility()">
          {{ showPassword ? '🙈' : '👁️' }}
        </span>
        <small *ngIf="form.controls['newPassword'].invalid && form.controls['newPassword'].touched" class="text-danger">
          Password must be 8+ characters, include uppercase, lowercase, number, and special character.
        </small>
      </div>

      <!-- Confirm Password -->
      <div class="form-group mb-3 text-start position-relative">
        <label for="confirmPassword" class="form-label">Confirm Password</label>
        <input [type]="showConfirmPassword ? 'text' : 'password'"
               id="confirmPassword"
               class="form-control"
               formControlName="confirmPassword"
               placeholder="Confirm new password">
        <span class="toggle-eye" (click)="toggleConfirmPasswordVisibility()">
          {{ showConfirmPassword ? '🙈' : '👁️' }}
        </span>
        <small *ngIf="form.errors?.['mismatch'] && form.controls['confirmPassword'].touched" class="text-danger">
          Passwords do not match.
        </small>
      </div>
      
      <p class="text-success mt-3" *ngIf="successMessage">{{ successMessage }}</p>
      <p class="text-danger mt-3" *ngIf="errorMessage">{{ errorMessage }}</p>
      <button class="btn-confirm" type="submit" [disabled]="form.invalid">Reset Password</button>
    </form>


    <a routerLink="/" class="btn-confirm mt-4 d-inline-block text-decoration-none">Home</a>
  </div>
</div>
