<!-- <div class=" container promo-bar d-flex justify-content-between align-items-center px-3 py-2">
    <div class="flex-grow-1 mb-4 mb-md-0">
      🌟 Get 5% Off your first order, <a class="promo-highlight">Promo: ORDER5</a>
    </div>
    <div class="d-flex align-items-center flex-wrap gap-2">
      <i class="fas fa-map-marker-alt text-dark"></i>
      <span>Regent Street, A4, A4201, London</span>
      <a href="#" class=" promo-highlight ms-2 ">Change Location</a>
      <div class="cart-box d-flex align-items-center ms-3">
        <i class="fas fa-shopping-cart me-2"></i>
        <span>23 Items</span>
        <span class="ms-3 fw-bold">EGP 79.89</span>
      </div>
    </div>
  </div> -->
