<div class="container py-5 registration-wrapper">
  <div class="card  shadow-lg border-0 w-100" style="max-width: 600px; margin: 0 auto">
    <div class="header text-center mb-4">
      <h1 class="title">Create an Account</h1>
      <p class="subtitle">Join us and start your food journey today!</p>
    </div>

    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="registration-form">
      <div class="form-group mb-3">
        <label class="form-label">First Name</label>
        <input type="text" formControlName="firstName" class="form-control" placeholder="First Name" />
      </div>

      <div class="form-group mb-3">
        <label class="form-label">Last Name</label>
        <input type="text" formControlName="lastName" class="form-control" placeholder="Last Name" />
      </div>

      <div class="form-group mb-3">
        <label class="form-label">User Name</label>
        <input type="text" formControlName="userName" class="form-control" placeholder="User Name" />
      </div>

      <div class="form-group mb-3">
        <label class="form-label">Email</label>
        <input type="email" formControlName="email" class="form-control" placeholder="your@email.com" />
      </div>

      <div class="form-group mb-3">
        <label class="form-label">Phone</label>
        <input type="text" formControlName="phoneNumber" class="form-control" placeholder="01xxxxxxxxx" />
      </div>

      <div class="form-group mb-3">
        <label class="form-label">Password</label>
        <div class="password-input-wrapper position-relative">
          <input
            [type]="showPassword ? 'text' : 'password'"
            formControlName="password"
            class="form-control"
            placeholder="Enter your password"
          />
          <button type="button" class="btn btn-sm btn-link position-absolute top-50 end-0 translate-middle-y me-2" (click)="togglePasswordVisibility()">
            {{ showPassword ? '🙈' : '👁️' }}
          </button>
        </div>
      </div>

      <div class="form-group mb-3">
        <label class="form-label">Confirm Password</label>
        <input type="password" formControlName="confirmPassword" class="form-control" placeholder="Confirm Password" />
      </div>
      <app-map-component (addressInfo)="setAddress($event)"  [formSubmitted]="isRegestered"></app-map-component>
      <button type="submit" class="btn btn-primary w-100">Create Account</button>

      <div class="text-center mt-3">
        <small>Already have an account?
          <a routerLink="/login" class="text-primary fw-semibold">Log In</a>
        </small>
      </div>
    </form>
  </div>
</div>
