<div class="container-fluid body text-white py-5">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-3 mb-4 mb-md-0">
        <h2>546+</h2>
        <p class="mb-0 text-white">Registered Riders</p>
      </div>
      <div class="col-md-3 mb-4 mb-md-0">
        <h2>789,900+</h2>
        <p class="mb-0 text-white">Orders Delivered</p>
      </div>
      <div class="col-md-3 mb-4 mb-md-0">
        <h2>690+</h2>
        <p class="mb-0 text-white">Restaurants Partnered</p>
      </div>
      <div class="col-md-3 text-white">
        <h2>17,457+</h2>
        <p class="mb-0">Food Items</p>
      </div>
    </div>
  </div>
</div>

