

    <div class="container my-5">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h2 class="section-title">Know more about us!</h2>
            <ul class="nav nav-pills custom-nav-pills">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Frequent Questions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Who we are?</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Partner Program</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Help & Support</a>
                </li>
            </ul>
        </div>

        <div class="card custom-card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4 faq-list">
                        <button class="btn faq-button active">How does Order.UK work?</button>
                        <button class="btn faq-button">What payment methods are accepted?</button>
                        <button class="btn faq-button">Can I track my order in real-time?</button>
                        <button class="btn faq-button">Are there any special discounts or promotions available?</button>
                        <button class="btn faq-button">Is Order.UK available in my area?</button>
                    </div>
                    <div class="col-md-8">
                        <div class="row row-cols-1 row-cols-md-3 g-4 mb-4">
                            <div class="col">
                                <div class="card how-it-works-card">
                                    <img src="./Assets/f1.png" class="card-img-top mx-auto d-block mt-3" alt="Place an Order Icon">
                                    <div class="card-body text-center">
                                        <h5 class="card-title">Place an Order!</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card how-it-works-card">
                                    <img src="./Assets/f2.png" class="card-img-top mx-auto d-block mt-3" alt="Track Progress Icon">
                                    <div class="card-body text-center">
                                        <h5 class="card-title">Track Progress</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card how-it-works-card">
                                    <img src="./Assets/f3.png" class="card-img-top mx-auto d-block mt-3" alt="Get Your Order Icon">
                                    <div class="card-body text-center">
                                        <h5 class="card-title">Get your Order!</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p class="text-center description-text">
                            Order.UK simplifies the food ordering process. Browse through our diverse menu, select your favorite dishes, and proceed to checkout. Your delicious meal will be on its way to your doorstep in no time!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

   
