<section class="container card-container" id="partner">
  <div class="row justify-content-center">
    <!-- Partner with us Card -->
    <div class="col-lg-6 col-md-8 col-sm-10 col-12">
      <div class="custom-card">
        <img src="./Assets/p1.png" alt="Chef with ingredients" />
        <div class="card-content-overlay">
          <span class="card-tag">Earn more with lower fees</span>
          <p class="card-title-small">Signup as a business</p>
          <h3 class="card-title-large">Partner with us</h3>
          <button
            type="button"
            class="btn btn-custom-orange"
            routerLink="/restaurant-apply"
          >
            Get Started
          </button>
        </div>
      </div>
    </div>

    <!-- Ride with us Card -->
    <div class="col-lg-6 col-md-8 col-sm-10 col-12">
      <div class="custom-card">
        <img src="./Assets/p2.png" alt="Delivery rider on scooter" />
        <div class="card-content-overlay">
          <span class="card-tag">Avail exclusive perks</span>
          <p class="card-title-small">Signup as a rider</p>
          <h3 class="card-title-large">Ride with us</h3>
          <button
            class="btn btn-custom-orange"
            routerLink="/DeliveryManRegister"
          >
            Get Started
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
