<section class="hero section">
  <div class="container hero__wrap card">
    <div class="shape"></div>
    <div class="hero__text">
      <span class="tag">Quick Bites, Big Smiles</span>
      <h1 class="text-title">Feast Your Senses,<br />Fast and Fresh</h1>
      <p class="text-muted">
        Order from top local restaurants with instant tracking and
        lightning-fast delivery.
      </p>
      <form class="hero__search">
        <input
          class="hero__input"
          (input)="updateSearchTerm($event)"
          placeholder="Search for food or restaurant"
        />
        <button
          class="btn btn-success"
          type="button"
          data-bs-toggle="modal"
          data-bs-target="#searchModal"
        >
          Search Now!
        </button>
      </form>

      <!-- Modal بالـ structure الصحيح -->
      <div class="modal fade" id="searchModal" tabindex="-1">
        <div class="modal-dialog modal-fullscreen-sm-down">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Search Result</h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
              ></button>
            </div>
            <div class="modal-body">
              <app-home-search-result
                [searchTerm]="searchTerm"
              ></app-home-search-result>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="hero__image">
      <img alt="Happy customer holding pizza" src="Assets/w1.png" />
    </div>
  </div>
</section>
